
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" >
	$(document).ready(function(){
		$('#new_comment').click(function(){
			var description = 'This event sounds like its gonna be so cool!';
			//var dict = {};
			//dict['user_id'] = 2;
			//dict['can_invite_friends'] = false;
			//invited_friends.push(dict);
			$.ajax({
            type:"POST",
                    url:"/events/comments/new/2",
                    data:{
                        "description": description,
                    	"csrfmiddlewaretoken": "{{csrf_token}}",	
                    },
            success: function(data){
                        //alert(data['status']);
                        console.log('success!');
                        console.log(data);
                    },
            error: function(data){
            		console.log('error');
            		console.log(data);
                //alert("Server side error");
            }
        });
		})
	})
</script>



	<input type="text" id="search_field"></input>
	<input type="button" value="Press" id="new_comment" class="btn btn-primary">