
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" >
	$(document).ready(function(){
		$('#invite_friends').click(function(){
			var invited_friends = '[{"user_id": 2, "can_invite_friends": False},{"user_id": 3, "can_invite_friends": False}]';
			//var dict = {};
			//dict['user_id'] = 2;
			//dict['can_invite_friends'] = false;
			//invited_friends.push(dict);
			invited_friends = JSON.stringify(invited_friends)
			console.log(invited_friends)
			$.ajax({
            type:"POST",
                    url:"/events/invite_friends/1",
                    data:{
                        "invited_friends": invited_friends,
                    	"csrfmiddlewaretoken": "{{csrf_token}}",	
                    },
            success: function(data){
                        //alert(data['status']);
                        console.log(data);
                    },
            error: function(data){
            		console.log('error');
            		console.log(data);
                //alert("Server side error");
            }
        });
		})
	})
</script>



	<input type="text" id="search_field"></input>
	<input type="button" value="Press" id="invite_friends" class="btn btn-primary">