
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" >
	$(document).ready(function(){
		$('#select_attending').click(function(){

			$.ajax({
            type:"POST",
                    url:"/events/attending/{{event_id}}",
                    data:{
                        "attending": true,
                    	"csrfmiddlewaretoken": "{{csrf_token}}",	
                    },
            success: function(data){
                        //alert(data['status']);
                        console.log(data);
                    },
            error: function(data){
            		console.log('error');
            		console.log(data);
                //alert("Server side error");
            }
        });
		})
	})
</script>
	<input type="button" value="Press" id="select_attending" class="btn btn-primary">