Django==1.6
wsgiref==0.1.2
south==0.7.6
redis==2.7.2
celery==3.0.12
django-celery==3.0.11
dj-database-url==0.2.1
google-api-python-client==1.1
oauth2
django-timedeltafield
django-ios-notifications
facepy==0.8.4