
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" >
	$(document).ready(function(){
		$('#new_members').click(function(){
			var new_members = '[5,6]'
            new_members = JSON.stringify(new_members)
            console.log(new_members)
			$.ajax({
            type:"POST",
                    url:"/acct/group/{{group_id}}/members/add",
                    data:{
                        "new_members": new_members,
                    	"csrfmiddlewaretoken": "{{csrf_token}}",	
                    },
            success: function(data){
                        //alert(data['status']);
                        console.log('success!');
                        console.log(data);
                    },
            error: function(data){
            		console.log('error');
            		console.log(data);
                //alert("Server side error");
            }
        });
		})
	})
</script>



	<input type="text" id="name"></input>
	<input type="button" value="Press" id="new_members" class="btn btn-primary">